.nav {
    display: inline-block;
    /* float: center; */
    padding: 10px;
    padding-top: 10px;
    height: 20px;
    text-decoration: none;
    /* margin-top: -50px; */

}

ul {
    margin-bottom: 100px;
    
}

ul, li {
    text-decoration: none;
}

li, a { 
    text-decoration: none;
    color: whitesmoke;
}